<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aahan.wefix">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.BasicCategoryActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.ForgotActivity"
            android:parentActivityName=".ui.LoginActivity" />
        <activity
            android:name=".ui.PaymentDetailsActivity"
            android:parentActivityName=".ui.PaymentActivity" />
        <activity
            android:name=".ui.PaymentActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.NewAddressActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.AddAddressActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.AddLogActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.SuccessfulMessageActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.CreateUserActivity"
            android:parentActivityName=".ui.LoginActivity" />
        <activity
            android:name=".ui.LogHistoryDetailsActivity"
            android:parentActivityName=".ui.LogActivity" />
        <activity
            android:name=".ui.LogActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.ServiceActivity2"
            android:parentActivityName=".ui.BasicCategoryActivity" />
        <activity
            android:name=".ui.ContactActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.ServiceActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.DisplayActivity"
            android:parentActivityName=".ui.DisplayActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".notifications.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.permission.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>